{% extends "layout.html" %}

{% block surname %}
    {{ form.surname.label }} {{ form.surname }}
    {% for error in form.surname.errors %}
        <span>error</span>
    {% endfor %}
    {{ form.DOB.label }} {{ form.DOB }}
    {% for error in form.DOB.errors %}
        <span>error</span>
    {% endfor %}
    {{ form.club.label }} {{ form.club }}
    {% for error in form.club.errors %}
        <span>error</span>
    {% endfor %}
{% endblock surname %}

{% block uploads %}
    {{ form.profile_image_path.label }} <br>
    {{ form.profile_image_path }}
    <p>{{ form.submit() }}</p>
{% endblock uploads %}