<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Welcome to the Sign Up For Talent Sphere</h1>
    <p>We ignite dreams for footballers, inspire investors and sponsors with scintillating talent, and 
        mesmerise scouts, clubs and academies.</p>
    <p>Who are you joining us as?</p>
    <form action="/signup" method="POST" name="role">
        <input list="users">
            <datalist id="users">
                <option value="Football player">    
                <option value="Scout">
                <option value="Football Club">
                <option value="Football Academy">
                <option value="Sponsor">
            </datalist>
        <input type= "submit">
    </form>
</body>
</html>
